<footer id="footer">

    <div class="upper">
        <div class="container">
            <div class="columns">

                <div class="column is-3">
                    <h4 class="title">Hours</h4>
                    <p>Mon - Fri: 3:30 pm - 9:30 pm</p>
                    <p>Sat: 10:00 am - 3:00 pm</p>
                    <p>Sun: 1:00 pm - 6:00 pm</p>
                </div>
                <div class="column is-3">
                    <h4 class="title">Visit Us</h4>
                    <p>604 Rolling Hills Dr.</p>
                    <p>Johnson City, TN 37604</p>
                </div>
                <div class="column is-3">
                    <h4 class="title">Talk To Us</h4>
                    <p>423-202-3228</p>
                    <p>rbitricities@gmail.com</p>
                </div>
                <div class="column is-3 social">
                    <a class="social-link" href="https://www.facebook.com/rbitricities"><i class="fa fa-facebook-official"></i></a>
                    <a class="social-link" href="https://twitter.com/rbitricities"><i class="fa fa-twitter"></i></a>
                    <a class="social-link" href="https://plus.google.com/u/0/b/100530191064447597972/100530191064447597972"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a class="social-link" href="http://instagram.com/rbitricities/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div class="lower">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column">
                    <a href="/">
                        <img class="logo" src="/images/rbi-tri-cities-logo.png" alt="RBI Tri-Cities">
                    </a>
                    <p class="copy">RBI Tri-Cities Copyright {{ year }}</p>
                </div>
            </div>
        </div>
    </div>

</footer>
