<section class="hero is-secondary rbi-form is-narrow">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half is-left">
                    <p class="title">Private Instruction</p>
                    <p class="subtitle">Get scheduled at RBI!</p>
                </div>
                <div class="column is-4">
                    <div class="responses">
                        <div class="notification is-danger"></div>
                        <div class="notification is-success"></div>
                    </div>
                    <form action="/private-instruction-request" method="post" class="private-instruction-form" class="validate">
                        <div id="form_wrap_scroll">
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="is-expanded control has-icons-left">
                                            <input type="text" name="playerName" class="input is-flat required name" placeholder="player name" aria-required="true" required>
                                            <span class="icon is-small is-left">
                                                <i class="fa fa-user-o"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="is-expanded control has-icons-left">
                                            <input type="email" name="parentEmail" class="input is-flat required email" placeholder="parent email" aria-required="true" required>
                                            <span class="icon is-small is-left">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="is-expanded control has-icons-left">
                                            <input type="tel" pattern="^\d{3}-\d{3}-\d{4}$" name="parentPhone" class="input is-flat required phone" placeholder="parent phone" aria-required="true" required title="Phone Format: XXX-XXX-XXXX">
                                            <span class="icon is-small is-left">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal no-margin">
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control is-expanded has-text-centered">
                                            <input id="piformsubmit" type="submit" value="Contact Me" name="submit-form" class="button is-white is-outlined">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="rbi_b1e623405f2c_23909403" tabindex="-1" value="chk">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
