<section class="hero is-secondary rbi-form">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-one-third is-left">
                    <p class="title">Recruiting Videos</p>
                    <p class="subtitle">Questions about the next shoot?</p>
                </div>
                <div class="column">
                    <p class="subtitle is-5 has-text-centered">Email <a href="mailto:rbitricities@gmail.com">rbitricities@gmail.com</a> for more info!</p>
                </div>
            </div>
        </div>
    </div>
</section>
