#header {
    background-color: #333;

    .top {
      background-color: rgba(0, 0, 0, .8);

      .level {
        padding: 5px 1rem;

        .social-link {

            padding: .5rem;

            &:hover {
                color: #fff;
            }
        }
      }

      @include mobile() {
        display: none;
      }
    }

    .navbar-wrap {
    	background-color: rgba(0, 0, 0, .5);

        .navbar-brand {
            overflow: hidden;

            .navbar-item .logo {
        		max-height: 4rem;

                @include mobile() {
                    max-height: 3rem;
                }
            }
        }

    	.navbar-item {
    		font-family: 'Titillium Web', Lato, sans-serif;
    	}

    	.navbar-burger {
    		span {
    			background-color: #bdbdbd;
    		}
    		&:hover {
    			background-color: transparent;
    		}
    		&.is-active span {
    			background-color: #bdbdbd;
    		}
    	}
    }

}
