.ht-logo {
    background: linear-gradient(90deg, rgba(9, 36, 98, .7), rgba(5, 19, 51, .9));
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 3rem;
    text-align: center;

    h1 {
        display: none;
    }
    img {

    }
}

.section.hittrax-info, .section.rapsodo-info {

    &.desc {
        .columns {
            align-items: start;

            .column {
                text-align: center;
                .fa {
                    margin-bottom: 1.5rem;
                }

            }
        }
    }

    &:nth-child(even) {
        background: $white;
    }

    .columns {
        vertical-align: middle;
        align-items: center;

        .column {
            .title {
                text-align: center;
            }

            .pricing-component {
                .pricing-header {
                    background: linear-gradient(90deg, #092462, #051333);

                    .pricing-title {
                        color: $white;
                    }

                    .pricing-cost {
                        color: $white;
                    }

                    &.member {
                        .pricing-title {
                            color: lighten($rbi-red, 10%);
                        }
                    }

                }

            }

        }

        @include mobile() {
            flex-direction: column;

            .column {
                &.order-1 {
                    order: 1;
                }
                &.order-2 {
                    order: 2;
                }
                &.order-3 {
                    order: 3;
                }
            }

        }
    }
}
