.vhl-heading {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    .title {
        margin: 1px;
    }

    .logo-bg {
        margin-left: auto;
        background-image: radial-gradient(top, circle cover, #4c4c4c 0%, #000 80%);
        padding: 15px;
        border-radius: 5px;

        .logo {
            width: 215px;
        }
    }

    @include mobile() {
        flex-direction: column;
        align-items: center;

        .title {
            margin-bottom: 1rem;
        }
        .logo-bg {
            margin: inherit;
        }
    }
}
