@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Titillium+Web:600);

//BULMA CSS FRAMEWORK
@import '../../node_modules/bulma/sass/utilities/initial-variables';

// RBI CUSTOM VARIABLES
$rbi-red: #cc0010;
$rbi-blue: #092462;
$rbi-green: #1a7138;
$rbi-light-grey: #f7f8fc;
$rbi-font: 'Montserrat', sans-serif;
$rbi-nav-bg: #333;

// ASSIGN THEM TO BULMA VARIABLES
$primary: $rbi-red;
$navbar-height: 5.5rem;
$navbar-background-color: transparent;
$navbar-item-color: $white;
$navbar-item-hover-color: $rbi-red;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $rbi-red;
$navbar-dropdown-item-active-color: $rbi-red;
$navbar-dropdown-background-color: rgba(0, 0, 0, .8);
$navbar-dropdown-item-hover-color: $rbi-red;
$navbar-dropdown-border-top: $rbi-nav-bg;
$red: $rbi-red;
$green: $rbi-green;
$blue: $rbi-blue;
$info: $rbi-blue;
$danger: $rbi-red;
$link: $rbi-red;

$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;
$family-sans-serif: $rbi-font;

// increaes desktop breakpoint to 1110 to prevent navbar items from being hidden
$desktop: 1150px + (2 * $gap);

$link-hover: $rbi-blue;

//IMPORT REST OF BULMA
@import '../../node_modules/bulma/bulma';

// CUSTOM RESETS TODO: MOVE TO SEPARATE FILE
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}
#barba-wrapper {
  flex: 1 0 auto;
  background: #f7f8fc;
}

.margin-bottom {
    margin-bottom: 1rem;
}

a:hover {
    transition: color .4s ease;
}

.notification.is-danger {
    background-color: $rbi-red;
    color: #fff;
}

.hero.is-primary {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .6);
}
.hero.is-secondary {
    background-color: $rbi-blue;
    color: #fff;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);

    .title, .subtitle {
        color: #fff;
    }

    @include mobile() {
        .title, .subtitle {
            text-align: center;
        }
    }
}

.is-secondary {
    background-color: $rbi-blue;
    color: #fff;
}

.content {
    p {
        font-size: 1.25rem;

        @include mobile() {
            font-size: 1rem;
        }
    }
}

// RBI LAYOUT COMPONENTS
@import './partials/header';
@import './partials/footer';

// RBI PAGES
@import './pages/hittrax';
@import './pages/vhl';

// RBI COMPONENTS
@import './partials/sections';
@import './partials/panels';
@import './partials/cards';
@import './partials/pricing-component';
@import './partials/googleMap';
@import './partials/video-player';
@import './partials/table-sortable';

.tab-content {
  display: none;
}

.tab-content.current-tab {
  display: inherit;
}


// TODO: MOVE THESE STYLES TO SEPARATE FILES
.hero.is-home {

    position: relative;
    /*background-color: $rbi-blue;
    background: radial-gradient(top, $rbi-red, $rbi-blue);
    background: -ms-radial-gradient(top, $rbi-red, $rbi-blue);*/
    background-image: url('/images/rbi-hero-main-two.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include mobile() {
        //background-size: 100% 100%;
    }

    .hero-body {
        padding: 10rem 0;
    }

    &::before {
        background-image: repeating-linear-gradient(315deg, rgba(255, 255, 255, .25), rgba(255, 255, 255, .25) 3px, transparent -19px, transparent 5px);
        position: absolute;
        content: '';
        opacity: .5;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

	.title,
    .subtitle {
        text-align: center;
		color: $white;
        text-shadow: 1px 2px 1px #333;
	}

    .title {
        font-size: 3rem;
        text-transform: uppercase;
    }

    .subtitle {
        font-size: 2rem;
        color: #fff;
    }

    @include mobile() {
        .title {
            font-size: 2rem;
        }

        .subtitle {
            font-size: 1.5rem;
        }
    }

}

.no-margin, .field.no-margin {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.equip-form {

	.equipment-form {
		overflow: hidden;
		width: 70%;
	}

	.responses {
        .notification {
            position: relative;
            display: none;
            overflow: hidden;
            margin: 0;

            &::after {
                content: "\f12a";
                font-family: FontAwesome;
                position: absolute;
                top: 5px;
                right: 5px;
                width: 20px;
                text-align: center;
                border-radius: 5px;
            }

            &.is-success::after {
                content: "\f00c";
                background: darken($rbi-green, 20%);
            }
            &.is-danger::after {
                content: "\f12a";
                background: darken($rbi-red, 20%);
            }
        }
    }
}

.rbi-form {
    background: linear-gradient(90deg, $rbi-blue, darken($rbi-blue, 10%));

    &.is-narrow .hero-body {
        padding: 1rem;
    }

    a {
        color: lighten($rbi-red, 10%);
        &:hover {
            color: lighten($rbi-red, 10%);
            text-decoration: underline;
        }
    }

    .private-instruction-form {
        overflow: hidden;
    }

    .responses {
        .notification {
            position: relative;
            display: none;
            overflow: hidden;
            margin: 0;

            &::after {
                content: "\f12a";
                font-family: FontAwesome;
                position: absolute;
                top: 5px;
                right: 5px;
                width: 20px;
                text-align: center;
                border-radius: 5px;
            }

            &.is-success::after {
                content: "\f00c";
                background: darken($rbi-green, 20%);
            }
            &.is-danger::after {
                content: "\f12a";
                background: darken($rbi-red, 20%);
            }
        }
    }

    @include mobile() {
        .column.is-left {
            .title,
            .subtitle {
                text-align: center;
            }
        }
    }
}

.phone.is-primary {
    color: lighten($rbi-red, 10%);
}
.phone.is-secondary {
    color: $rbi-blue;
}
