@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Titillium+Web:600);

//BULMA CSS FRAMEWORK
@import '../../node_modules/bulma/sass/utilities/initial-variables';

// RBI CUSTOM VARIABLES
$rbi-red: #cc0010;
$rbi-blue: #092462;
$rbi-light-grey: #f7f8fc;
$rbi-font: 'Montserrat', sans-serif;
$rbi-nav-bg: #333;

// ASSIGN THEM TO BULMA VARIABLES
$primary: $rbi-red;
$navbar-height: 5.5rem;
$navbar-background-color: transparent;
$navbar-item-color: $white;
$navbar-item-hover-color: $rbi-red;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $rbi-red;
$navbar-dropdown-background-color: rgba(0, 0, 0, .8);
$navbar-dropdown-item-hover-color: $rbi-red;
$navbar-dropdown-border-top: $rbi-nav-bg;

$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;
$family-sans-serif: $rbi-font;

$link-hover: $rbi-blue;

//IMPORT REST OF BULMA
@import '../../node_modules/bulma/bulma';

// CUSTOM RESETS TODO: MOVE TO SEPARATE FILE
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}
#barba-wrapper {
  flex: 1 0 auto;
  background: #f7f8fc;
}

.margin-bottom {
    margin-bottom: 1rem;
}

a:hover {
    transition: color .4s ease;
}

.section {
    background-color: $rbi-light-grey;

    &.recruiting-video {
        background: #f9f9f9;
    	box-shadow: inset 0 0 20px rgba(0, 0, 0, .4);
    }
}

.notification.is-danger {
    background-color: $rbi-red;
    color: #fff;
}

.hero.is-primary {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .6);
}
.hero.is-secondary {
    background-color: $rbi-blue;
    color: #fff;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);

    .title, .subtitle {
        color: #fff;
    }
}

//  RBI CSS COMPONENTS
@import './partials/header';
@import './partials/footer';
@import './partials/pricing-component';
@import './partials/googleMap';
@import './partials/video-player';

// TODO: MOVE THESE STYLES TO SEPARATE FILES
.hero.is-home {

    position: relative;
    /*background-color: $rbi-blue;
    background: radial-gradient(top, $rbi-red, $rbi-blue);
    background: -ms-radial-gradient(top, $rbi-red, $rbi-blue);*/
    background-image: url('/images/rbi-hero-main.jpg');
    background-repeat: no-repeat;
    background-size: 100% 700px;

    @include mobile() {
        background-size: 100% 100%;
    }

    .hero-body {
        padding: 10rem 0;
    }

    &::before {
        background-image: repeating-linear-gradient(315deg, rgba(255, 255, 255, .25), rgba(255, 255, 255, .25) 3px, transparent -19px, transparent 5px);
        position: absolute;
        content: '';
        opacity: .5;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

	.title,
    .subtitle {
        text-align: center;
		color: $white;
        text-shadow: 1px 2px 1px #333;
	}

    .title {
        font-size: 3rem;
        text-transform: uppercase;
    }

    .subtitle {
        font-size: 2rem;
        color: #fff;
    }

    @include mobile() {
        .title {
            font-size: 2rem;
        }

        .subtitle {
            font-size: 1.5rem;
        }
    }

}

section.section-spacer {

}

#four0four.section, #error.section {
    padding: 20vh 3rem;
    @include mobile() {
        padding: 10vh 3rem;
    }
}

.section.recruiting-video {
	background: #f9f9f9;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, .4);
}

.section.events {

    .section-title {
        &::before {
            @include fa(1.5rem, 2rem);

            margin-right: 10px;
            content: '\f073';
            display: inline-block;
            font-family: 'FontAwesome';
        }
    }

    .card.event {

        .card-header {
            background: linear-gradient(90deg, $rbi-blue, darken($rbi-blue, 10%));
            padding: 1rem 0;

            .card-header-title {
                color: $white;
                justify-content: center;
                text-align: center;
            }
        }

        .card-content {
            background: $rbi-light-grey;

            .date {
                text-align: center;
            }
        }

    }

}

.section.social {
	background: #f9f9f9;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, .4);

	.media.tweet {

		.media-content {

			.content {
				font-size: 14px;

				.tweet-link,
                .tweet-url {
					&:hover {
						color: $rbi-red;
						text-decoration: underline;
					}
				}
			}
		}

		.level {
			font-size: 10px;

			.fa {
				font-size: 12px;
			}

			.fa-heart {
				color: $rbi-red;
			}
		}
	}

	.card.instagram {

		.card-image {
			padding: 10px;

			.image {
				&:hover {
					img {
						//box-shadow: 0 0 20px rgba(0,0,0,0.4);
		    		//transform: scale(1.1);
					}
				}

				img {
					//border-radius: 4px;
				}
			}
		}

		.card-footer {
			font-size: 10px;

			.fa {
				font-size: 12px;
			}
		}
	}
}

.panel.cage-schedule {

    .panel-heading {
        background: linear-gradient(90deg, $rbi-blue, darken($rbi-blue, 10%));
        font-size: 1.5rem;
        text-transform: uppercase;
        color: white;
        font-family: 'Titillium Web', Lato, sans-serif;
    }
    .panel-block {
        justify-content: center;
        line-height: 3rem;
        font-size: 1.15rem;

        &.available {
            color: green;
            background-color: rgba(0, 128, 0, .1);
        }
        &.reserved {
            color: $rbi-red;
            background-color: rgba(195, 27, 40, .1);
        }
    }
}

#events.section {

    .media.event {

        .media-left {

            .date {
                background: $rbi-blue;
                color: $white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1rem 2rem;
                text-transform: uppercase;
                font-weight: bold;
                line-height: 1.25rem;

                .month {

                }

                .day {

                }

                .dayofweek {
                    opacity: .65;
                }
            }
        }

        .media-content {
            .info {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 1rem;

                .title {
                    margin: 0;
                }

                .tag {
                    font-size: 1rem;
                    letter-spacing: 2px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.media.instructor {

	.media-left {
		.image {
			max-width: 128px;

			.headshot {
				width: 100%;
			}
		}
	}

	.media-content .info {
		display: flex;
		flex-direction: row;
		align-items: center;

		.name {
			font-weight: 700;
			font-size: 2rem;
		}

		.tag {
			margin-left: 1rem;
		}
	}

}

#event.section {

    .level.event-details {
        margin: 0;

        .level-item {
            flex-direction: column;
        }

        .tag.is-success {
            font-size: 1rem;
            letter-spacing: 2px;
        }
    }

}

.panel.contact {

    .panel-block {
        border: 0;

        .icon {
            margin-right: 10px;
        }
    }
}

.message.camp {

    .message-header {
        background-color: $primary;

        .title {
            color: #fff;
        }
    }

    .message-body {

        .meta {
            font-style: italic;
            font-weight: bold;
        }

        p {
            margin-top: 1rem;
        }
    }
}

.card.video-shoot {

    .card-header-title {
        justify-content: center;
    }

    .card-content {
        text-align: center;
    }

    .tbd {
        font-size: 3rem;
        font-family: 'Titillium Web', Lato, sans-serif;
    }

    .date {
        margin-bottom: 1rem;
    }

}

.no-margin, .field.no-margin {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#private-lesson-signup,
#recruiting-video-signup {
    .hero-body {
        //padding: 1rem; take out after form is added
    }

    a {
        color: lighten($rbi-red, 10%);
        &:hover {
            color: lighten($rbi-red, 10%);
            text-decoration: underline;
        }
    }

    @include mobile() {
        .column.is-left {
            .title,
            .subtitle {
                text-align: center;
            }
        }
    }
}
