<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">About</h1>
        <h2 class="subtitle">Our history and goal</h2>
        <hr>

        <div class="content">
            <p>RBI Tri-Cities was founded by Paul Hoilman, Dylan Pratt, Caleb Moore, Danny Clark and Reid Casey. After partnering with Nate Headley and RBI/HFA out of Knoxville, the group moved forward with outfitting a top-tier facility where athletes of all ages could train and develop. RBI Tri-Cities was born.</p>

            <p>The primary goal was to establish a bigger footprint in the area for both baseball and softball, ultimately allowing local kids the opportunity to maximize their potential and gain more exposure. We offer memberships, private lessons, strength and agility training, team partnerships, and much, much more. Call us at (423) 202-3228, come by or email us at rbitricities@gmail.com if you'd like to learn more!</p>
        </div>

    </div>
</section>
