<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">About Us</h1>
        <hr>

        <div class="content">
            <p>RBI Tri-Cities was originally founded in 2014 by Paul Hoilman, Dylan Pratt, Caleb Moore, Danny Clark and Reid Casey after years of dreaming about a facility to serve the youth baseball and softball players of our area. After working with Nate Headley of RBI Knoxville, the group moved forward with outfitting a top-tier facility where baseball and softball players of all ages could train, develop and come to for guidance.</p>

            <p>RBI Tri-Cities was created and is constantly managed with the FUBU mindset - For Us, By Us. All of RBI's partners are from the area and were once young, competitive baseball players here locally. They each had different, distinguished, and respectable careers as players and/or coaches on the diamond and each bring a different viewpoint to the facility.</p>

            <p>RBI's goal is to be a resource to every young, aspiring baseball and softball player in the Tri-Cities region. RBI has a phenomenal staff of instructors, coaches and mentors and offers a variety of different services and packages to meet the needs of virtually every youth player in our area. RBI's staff hopes to make a positive impact on the lives of every player that walks through our doors by coaching them, inspiring them and by being positive role models in their lives.</p>
        </div>

    </div>
</section>
