<section class="section" id="annual-camps">
    <div class="container">

        <h1 class="title is-spaced">Annual Camps</h1>
        <hr>

        <div class="content">
            <p>Below is a list of the Camps we offer throughout the year, each year. When we schedule camps in the current year, you can find them on our Upcoming Events page and on Social Media. Check the <a href="/events">Upcoming Events</a> page for details on this year's events and to reserve your spot.</p>
        </div>

        <div class="columns is-multiline">

            <div class="column is-half">
                <div class="card camp">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="/images/hs-hitting-league.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">RBI's High School Hitting League</p>
                                <div class="meta">January - February</div>
                                <div class="meta">Baseball Players Grades 9th-12th</div>
                            </div>
                        </div>
                        <div class="content">
                            <p>RBI's High School Hitting League is a 5-week competition for local high school players held at RBI each year. Each week, players will receive instruction to focus on different areas of the swing/approach to help them get ready for the upcoming season. Players will also compete each week in a 3-on-3 tournament for the most RBI's.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="card camp">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="/images/dn-pitching-camp.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Daniel Norris Pitching Camp</p>
                                <div class="meta">January</div>
                                <div class="meta">Baseball Players Grades 9th-12th</div>
                            </div>
                        </div>
                        <div class="content">
                            <p>Daniel is a Johnson City native turned MLB Pitcher for the Detroit Tigers. Every year before Spring Training, he leads a pitching camp for our local players. Camp is a comprehensive, fast-paced, one day pitching camp held at RBI every year since 2015. The focus of the camp is on pitching mechanics, routines, armcare and mindset. Players will have an opportunity to work with Daniel and the rest of RBI's Pitching Staff on various drills and fundamentals. At the conclusion of camp, Daniel will throw and talk through his first bullpen of the year, putting principles into practice for everyone to see. Camp will be followed by an autograph session and gear giveaway.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="card camp">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="/images/winter-softball-camp.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">RBI's Winter Softball Hitting & Pitching Camps</p>
                                <div class="meta">January</div>
                                <div class="meta">Softball Players Ages 9-15</div>
                            </div>
                        </div>
                        <div class="content">
                            <p>This camp is a one-day event held at RBI every year since 2015. Camp covers hitting & pitching fundamentals, drills, and approaches. Players will be divided into groups by age and experience level. They will be taught accordingly in each group by our experienced instructors, consisting of former college fastpitch players and coaches. Players will get lots of repetition and camp should serve as a good refresher for girls as they prepare for their upcoming tryouts and season.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="card camp">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="/images/preseason-baseball-hitting-camp.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">RBI's Preseason Baseball Hitting Camp</p>
                                <div class="meta">February</div>
                                <div class="meta">Baseball Players Ages 8-14</div>
                            </div>
                        </div>
                        <div class="content">
                            <p>This camp is a one-day event held at RBI every year since 2015. Camp covers strictly hitting fundamentals, mechanics, and approaches. Players will rotate through various stations designed to work on the different aspects of the swing, to help them improve as a hitter and prepare for the upcoming season. Players will be divided into groups by age and experience level and be taught by our experienced instructors, consisting of former professional & collegiate players and coaches. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="card camp">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="/images/paul-hoilman-baseball-camp.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Paul Hoilman Baseball Camp</p>
                                <div class="meta">June</div>
                                <div class="meta">Baseball Players Ages 7-13</div>
                            </div>
                        </div>
                        <div class="content">
                            <p>This camp is a four-day event held at Science Hill High School every year since 2013. Camp runs from 8:30am-12pm each day Monday - Thursday. Players are divided into groups according to age and experience level, and rotate through stations covering virtually all aspects of the game - throwing, outfield, infield, baserunning, catching, pitching, sliding & hitting. Players also compete in Coach-Pitch exhibition games at the end of camp each day to put what they've learned to work and have some fun! The final day of camp concludes with competition, certificates and awards. Every player in attendance is provided with a Paul Hoilman Baseball Camp shirt. Beginning in 2018, camp is open to 13-year-olds with 12 & 13U players rotating through a private camp on Field 2. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="card camp">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="/images/summer-softball-camp.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">RBI Summer Softball Camp</p>
                                <div class="meta">June</div>
                                <div class="meta">Softball Players Ages 8-14</div>
                            </div>
                        </div>
                        <div class="content">
                            <p>This camp is a four-day event held at Science Hill High School every year since 2015. Camp runs from 1pm-4:30pm each day Monday - Thursday. Players are divided into groups according to age and experience level and roate through stations covering virtually all aspects of the game - throwing, outfield, infield, baserunning, catching, pitching, sliding & hitting. Players also compete in Coach-Pitch exhibition games at the end of camp each day to put what they've learned to work and have some fun! The final day of camp concludes with competition, certificates and awards. Every player in attendance is provided with an RBI Summer Softball Camp shirt.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="card camp">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="/images/rbi-u-college-showcase.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">RBI-U: College Instructional Showcase</p>
                                <div class="meta">November</div>
                                <div class="meta">Baseball Players Grades 5th-12th</div>
                            </div>
                        </div>
                        <div class="content">
                            <p>This showcase is a one-day event held at RBI every year since 2016. College coaches from various D1, D2, D3, JuCo and NAIA schools come from all over our region to work with and evaluate the players in attendance. Schools that have attended include ETSU, Radford, Wofford, Appalachian State, Presbyterian, Carson-Newman, Tusculum, Walters State & Milligan. One session is offered to players in grades 5th-8th with another offered to high school players in grades 9th-12th. Several players that have attended RBI-U have since signed college scholarships. RBI-U provides a uniquely personal showcase experience, giving players the opportunity to meet face-to-face with, learn from, and showcase their abilities for the college coaches in attendance. Every player in attendance is provided with an RBI-U jersey to wear for identification.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="card camp">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="/images/rbi-u-softball.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">RBI-U Softball: College Instructional Showcase</p>
                                <div class="meta">November</div>
                                <div class="meta">Softball Players Grades 8th-12th</div>
                            </div>
                        </div>
                        <div class="content">
                            <p>This showcase is a one-day event held at RBI every year since 2017. College coaches from various D1, D2, D3, JuCo and NAIA schools come from all over our region to work with and evaluate the players in attendance. Schools that have attended include Radford, Tusculum, Walters State, Roane State, Lincoln Memorial & Maryville College. We offer two sessions - one for hitter/defenders and one for pitchers. RBI-U provides a uniquely personal showcase experience, giving players the opportunity to meet face-to-face with, learn from, and showcase their abilities for the college coaches in attendance. Every player in attendance is provided with an RBI-U jersey to wear for identification.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="card camp">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="/images/danny-clark-pitching-camp.jpg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Danny Clark & Tom Griffin's Pitchers & Catchers Christmas Camp</p>
                                <div class="meta">December</div>
                                <div class="meta">Baseball Players Ages 10-18</div>
                            </div>
                        </div>
                        <div class="content">
                            <p>This camp is a one-day event held at RBI every year since 2014. Danny Clark & Tom Griffin are well-known to be among the best pitching and catching instructors, respectively, in the entire region. They come together every year at Christmas to offer a joint camp where pitchers and catchers learn and train separately in group settings, then work together to improve simultaneously on both sides of the battery. Danny & Tom are our oldest, yet most energetic instructors. Players should come ready to get to work!</p>
                        </div>
                    </div>
                </div>
            </div>

    </div>

</div>
</section>
