<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Contact Us</h1>
        <hr>

        <div class="content">
            <p>Have questions? Feel free to give us a call during business hours or send us a message any time!</p>

            <div class="panel contact">

                <div class="panel-block">
                    <span class="icon is-large">
                        <i class="fa fa-phone"></i>
                    </span>
                    (423) 202-3228
                </div>

                <div class="panel-block">
                    <span class="icon is-large">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <a href="mailto:rbitricities@gmail.com">rbitricities@gmail.com</a>
                </div>

                <div class="panel-block">
                    <span class="icon is-large">
                        <i class="fa fa-facebook"></i>
                    </span>
                    <a href="https://www.facebook.com/rbitricities" target="_blank">RBI Tri-Cities</a>
                </div>

                <div class="panel-block">
                    <span class="icon is-large">
                        <i class="fa fa-twitter"></i>
                    </span>
                    <a href="https://twitter.com/rbitricities" target="_blank">@rbitricities</a>
                </div>

                <div class="panel-block">
                    <span class="icon is-large">
                        <i class="fa fa-instagram"></i>
                    </span>
                    <a href="http://instagram.com/rbitricities" target="_blank">@rbitricites</a>
                </div>

            </div>

        </div>

    </div>
</section>
