<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Contact</h1>
        <h2 class="subtitle">What were about yo</h2>
        <hr>

        <p>blah blah blah</p>

    </div>
</section>
