<section class="section" id="directory">
    <div class="container">

        <h1 class="title is-spaced">Directory</h1>
        <hr>

        <div class="content">
            <p><strong>General Inquiries</strong>: <a href="mailto:rbitricities@gmail.com">rbitricities@gmail.com</a> or 423-202-3228</p>

            <p><strong>Administrative Correspondence</strong>: <a href="mailto:rbifrontdesk@gmail.com">rbifrontdesk@gmail.com</a> or 423-202-3228</p>

            <p><strong>Head Administrator/Scheduling</strong>: Christine Hardin</p>

            <p><strong>RBI Tri-Cities Teams</strong>: <a href="mailto:rbitricities@gmail.com">rbitricities@gmail.com</a></p>

            <p><strong>RBI Tri-Cities Team Directors</strong>: Paul Hoilman & Dylan Pratt</p>

            <p><strong>Baseball Recruiting Coordinators</strong>: Danny Clark, Mike Ranson, Ryan White, Reid Casey</p>

            <p><strong>RBI Tri-Cities Prospect Coaches</strong>: Dustin Clawson, Rob Stacy, Cory Hilton, Tucker McPherson, Corey McPherson, Scott Hoilman, Justin Reising, Michael Dillow, Spencer Street, Reid Casey, Mike Ranson, Ryan White</p>

            <p><strong>RBI Pride Teams</strong>: <a href="mailto:rbisoftballjc@gmail.com">rbisoftballjc@gmail.com</a></p>

            <p><strong>RBI Pride Softball Directors</strong>: Ashleigh Jackson & Cassi Pickett</p>

            <p><strong>Softball Recruiting Coordinators</strong>: Ashleigh Jackson, Cassi Pickett, Kadey Robinson, Shelby Morris</p>

            <p><strong>RBI Pride Softball Coaches</strong>: Kristie Keys, Meredith Jackson, Whitney Hawkins, Jaelyn Martin, Maura Ditto, Megan Maupin, Cassi Pickett, Ashleigh Jackson</p>

            <p><strong>Web Developer/IT</strong>: Lucas Byerley</p>

            <p><strong>Partners</strong>: Paul Hoilman, Dylan Pratt, Danny Clark, Reid Casey</p>
        </div>
    </div>
</section>
