<section class="section" id="directory">
    <div class="container">

        <h1 class="title is-spaced">Directory</h1>
        <hr>

        <div class="content">
            <p><strong>General Inquiries</strong>: <a href="mailto:rbitricities@gmail.com">rbitricities@gmail.com</a> or 423-202-3228</p>

            <p><strong>Administrative Correspondence</strong>: <a href="mailto:rbifrontdesk@gmail.com">rbifrontdesk@gmail.com</a> or 423-202-3228</p>

            <p><strong>Head Administrator/Scheduling</strong>: Christine Hardin</p>
        </div>
    </div>
</section>
