<section class="section" id="error">
    <div class="container">

        <div class="notification is-danger">
            <div class="title is-1 has-text-centered">E500 on the pitcher</div>
            <p>Something seems to have gone wrong. Please refresh the page, navigating to a different one, or contacting us at rbitricities@gmail.com</p>
        </div>

    </div>
</section>
