<section class="section" id="hittrax-faq">
    <div class="container">

        <h1 class="title is-spaced">HitTrax FAQ</h1>
        <h2 class="subtitle">Frequently asked questions about HitTrax</h2>
        <hr>

        <div class="content">
            <p>blah</p>
        </div>
    </div>
</section>
