<section class="section" id="hittrax">
    <div class="container">

        <div class="ht-logo">
            <h1>HitTrax</h1>
            <img src="http://www.hittraxbaseball.com/images/logo.png" alt="HitTrax"/>
        </div>

        <div class="content">
            <p>The HitTrax Video Capture and Analysis Module (VCAM) is the latest and greatest in hitting analytics. HitTrax won the 2016 ABCA Best of Show award and is currently used by collegiate and professional baseball and softball programs across the country. With HitTrax, players receive real-time metrics and are able to watch the flight of each batted ball inside all 30 MLB stadiums. Players can also compete in entertainment mode, either face-to-face or remotely, with quality hit games, home run derbies and more.</p>

            <p>The HitTrax database will store each player's profile and swings so that progress can be easily monitored. Metrics recorded for each swing include exit velocity, distance, launch angle, hard hit average, batting average, slugging percentage, ground ball percentage, fly ball percentage and more, allowing each player's strengths and weaknesses to be easily identified and tracked. HitTrax brings the on-field experience inside the batting cage allowing players to receive visual and statistical feedback with each swing as they improve and continue to make adjustments.</p>
        </div>

    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-3-desktop is-12-mobile order-3">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Non-Members</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">20</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header member">
                        <div class="pricing-title">RBI-Members</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">15</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-6-desktop is-12-mobile order-1">
                <div class="title is-3">Baseline Assessment Report (BAR)</div>
                <hr>
                <p>15-minutes with an RBI Hitting Instructor to get your HitTrax Profile created, hit, and get baseline numbers in the system including exit velocity, average launch angle, batting average, hard hit average, distance and more. Once a player's profile is created, all swings on the HitTrax system are permanently stored, allowing progress & development to be easily tracked. A BAR is required before players can do their first HitTrax Private Lesson Upgrade.</p>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-6-desktop is-12-mobile order-1">
                <div class="title is-3">HitTrax System Training</div>
                <hr>
                <p>45-minutes with an RBI Hitting Instructor during which players will be trained on the various user modes, how to operate the system, what the reports mean, and which reports we like to monitor. HitTrax is a comprehensive, powerful system and the HitTrax System Training is designed to help you get the most out of it. HitTrax System Training will be required before players, parents or coaches are able to rent the HitTrax equipment on their own. HitTrax System Training can also be structured to incorporate an initial BAR reading.</p>
            </div>
            <div class="column is-3-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header member">
                        <div class="pricing-title">RBI-Members</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">45</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-12-mobile order-3">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Non-Members</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">55</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-3-desktop is-12-mobile order-3">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Non-Members</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">45</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header member">
                        <div class="pricing-title">RBI-Members</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">20</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-6-desktop is-12-mobile order-1">
                <div class="title is-3">HitTrax Individual Cage Rental</div>
                <hr>
                <p>Players are able to rent the HitTrax cage and equipment individually for 30-minutes. This use is designed for players to have even more fun during batting practice, watching the flight of each batted ball in any of the MLB stadiums, all while able to capture & monitor various swing metrics as they continue to improve and make adjustments. Swing videos and reports can be emailed to each player, parent or coach at the conclusion of the session with the touch of a button. Players cannot rent the HitTrax cage and equipment until they have completed their HitTrax System Training.</p>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-8-desktop is-12-mobile order-1">
                <div class="title is-3">HitTrax Private Lesson Upgrade</div>
                <hr>
                <p>Private hitting lessons at RBI can be done with HitTrax to provide video footage and swing analytics throughout the lesson. Each swing's exit velocity, launch angle, point of impact, distance and other key metrics are displayed and available for review to help players focus on strengths and weaknesses. Reports are also available and can be emailed to players at the conclusion of each session.</p>
            </div>
            <div class="column is-4-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Per Session</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">5</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-3-desktop is-12-mobile order-3">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Any Team</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">75</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header member">
                        <div class="pricing-title">RBI-Teams</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">60</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-6-desktop is-12-mobile order-1">
                <div class="title is-3">HitTrax Team Rental</div>
                <hr>
                <p>Teams and their coaches are able to rent the HitTrax cage and system for a small group or their entire team for 60-minutes. This rental can be used in a variety of ways - to analyze each player's swings, to compete in the entertainment mode with split-team games, individual home run derbies, the quality hit game, and more team-building exercises. Teams and coaches cannot rent the HitTrax cage and equipment until they have completed a HitTrax System Training to learn how to operate these various modes.</p>
            </div>
        </div>
    </div>
</section>

<section class="hero is-secondary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half is-left">
                    <p class="title">HitTrax Reservations</p>
                    <p class="subtitle">Get Schedule at RBI!</p>
                </div>
                <div class="column">
                    <p class="subtitle is-5 has-text-centered">Call us at <span class="phone is-primary">423-202-3228</span> to get scheduled!</p>
                </div>
            </div>
        </div>
    </div>
</section>
