<section class="section" id="hittrax">
    <div class="container">

        <h1 class="title is-spaced">HitTrax</h1>
        <hr>

        <div class="content">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>

    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-3-desktop is-12-mobile order-3">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Non-Members</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">20</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header member">
                        <div class="pricing-title">RBI-Members</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">15</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-6-desktop is-12-mobile order-1">
                <div class="title is-3">Baseline Assessment Report (BAR)</div>
                <hr>
                <p>15-minutes with an RBI Hitting Instructor to get your HitTrax Profile created, hit, and get baseline numbers in the system. A BAR is required before players are eligible to do an Intro to HitTrax Lesson or a Lesson Upgrade on HitTrax.</p>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-6-desktop is-12-mobile order-1">
                <div class="title is-3">Intro to HitTrax Lesson</div>
                <hr>
                <p>45-minute private lesson with an RBI Hitting Instructor during which players will be trained on the various user modes, how to operate the system, what the reports mean, and which reports we like to use and monitor. HitTrax is a comprehensive, powerful system and the Intro to HitTrax Lesson is designed to teach to help you get the most out of it. Intro to HitTrax Lessons will be required before players/parents are able to rent the HitTrax system on their own. Though both can be completed on the same day, BARs are required before players are eligible to complete their Intro to HitTrax Lesson.</p>
            </div>
            <div class="column is-3-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header member">
                        <div class="pricing-title">RBI-Members</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">45</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-12-mobile order-3">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Non-Members</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">55</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-3-desktop is-12-mobile order-3">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Non-Members</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">45</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-3-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header member">
                        <div class="pricing-title">RBI-Members</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">20</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-6-desktop is-12-mobile order-1">
                <div class="title is-3">HitTrax 30-min Rental</div>
                <hr>
                <p>Players/parents are able to rent the HitTrax cage and system individually for 30-minutes. This use is designed for players/parents to have even more fun during batting practice, watching the flight of each batted ball, while able to capture & monitor various swing metrics as they continue to improve and make adjustments. Swing videos and reports can be emailed to each player/coach at the conclusion of the session with the touch of a button. Players/parents cannot rent the HitTrax cage and system until they have completed an Intro to HitTrax Lesson.</p>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-8-desktop is-12-mobile order-1">
                <div class="title is-3">HitTrax Lesson Upgrade</div>
                <hr>
                <p>Private hitting lessons at RBI can be done on the HitTrax system to enhance the overall lesson experience, providing video footage, swing analytics and various reports. Swing videos and reports can be emailed to players at the conclusion of their session. HitTrax Lesson Upgrades are only available to players that have completed the BAR and/or Intro to HitTrax Lesson.</p>
            </div>
            <div class="column is-4-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Per Session</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">5</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-4-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Per Session</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">60</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-8-desktop is-12-mobile order-1">
                <div class="title is-3">HitTrax Team Rental</div>
                <hr>
                <p>Teams and their coaches are able to rent the HitTrax cage and system for a small group or the entire team for 60-minutes. This rental can be used in a variety of ways - to analyze each player's swings, to compete in entertainment mode with head-to-head games, the quality hit game, individual home run derbies and more. Teams/coaches cannot rent the HitTrax cage and system until they have completed an Intro to HitTrax Lesson.</p>
            </div>
        </div>
    </div>
</section>

<section class="hero is-secondary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half is-left">
                    <p class="title">HitTrax Reservations</p>
                    <p class="subtitle">Get Schedule at RBI!</p>
                </div>
                <div class="column">
                    <p class="subtitle is-5 has-text-centered">Call us at <span class="phone is-primary">423-202-3228</span> to get scheduled!</p>
                </div>
            </div>
        </div>
    </div>
</section>
