<section class="section hittrax-info">
    <div class="container">

        <div class="ht-logo">
            <h1>HitTrax</h1>
            <img src="/images/hittrax-logo.png" alt="HitTrax"/>
        </div>

        <div class="columns">
            <div class="column is-half">
                <p>The HitTrax Video Capture and Analysis Module (VCAM) is the latest and greatest in hitting analytics. HitTrax won the 2016 ABCA Best of Show award and is currently used by collegiate and professional baseball and softball programs across the country. With HitTrax, players receive real-time metrics and are able to watch the flight of each batted ball inside all 30 MLB stadiums. Players can also compete in entertainment mode, either face-to-face or remotely, with quality hit games, home run derbies and more.</p>
            </div>
            <div class="column is-half">
                <img src="/images/hittrax-view.jpg"/>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info desc">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <i class="fa fa-server fa-4x" aria-hidden="true"></i>
                <p>The HitTrax database will store each player's profile and swings so that progress can be easily monitored and allows for the ability to easily identify player's strengths and weaknesses.</p>
            </div>
            <div class="column is-4">
                <i class="fa fa-bar-chart fa-4x" aria-hidden="true"></i>
                <p class="margin-bottom">Metrics recorded for each swing include:</p>
                <ul>
                    <li><strong>Exit Velocity, Distance</strong></li>
                    <li><strong>Launch Angle</strong></li>
                    <li><strong>Hard Hit Average</strong></li>
                    <li><strong>Batting Average</strong></li>
                    <li><strong>Point of Impact</strong></li>
                    <li><strong>...and more!</strong></li>
                <ul>
            </div>
            <div class="column is-4">
                <i class="fa fa-cogs fa-4x" aria-hidden="true"></i>
                <p>HitTrax brings the on-field experience inside the batting cage allowing players to receive visual and statistical feedback with each swing as they improve and continue to make adjustments.</p>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-8-desktop is-12-mobile order-1">
                <div class="title is-3">HitTrax Private Lesson Upgrade</div>
                <hr>
                <p>Private hitting lessons at RBI can be done with HitTrax to provide video footage and swing analytics throughout the lesson. Each swing's exit velocity, launch angle, point of impact, distance and other key metrics are displayed and available for review to help players focus on strengths and weaknesses. Reports are also available and can be emailed to players at the conclusion of each session.</p>
            </div>
            <div class="column is-4-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Per Session</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">5</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
			<div class="column is-4-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Per Month</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">10</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-8-desktop is-12-mobile order-1">
                <div class="title is-3">HitTrax Membership</div>
                <hr>
                <p>The HitTrax Monthly Membership is available to any RBI Member as an optional add-on benefit. Players can use HitTrax while working out on their own, with a parent, friend or teammate, getting real-time feedback on each swing. In the Player Login mode, each session will be stored and available for review and comparison. Players are also encouraged to have fun in the Entertainment mode, trying the Home Run Derby, Demo Game, and Boost functionality.</p>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-8-desktop is-12-mobile order-1">
                <div class="title is-3">HitTrax Membership + Unlimited Lesson Upgrades</div>
                <hr>
                <p>The HitTrax Membership with Unlimited Lesson Upgrades is available to any RBI Member as an optional add-on benefit. With this membership, players can use HitTrax as described above, as well as have an unlimited amount of HitTrax Private Lesson Upgrades during any hitting or pitching lessons they have with our instructors. The HitTrax Lesson Upgrade can enrich the private lesson experience by giving both the player and the instructor real-time swing analysis numbers to work with.</p>
            </div>
			<div class="column is-4-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Per Month</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">15</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-4-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Per Friend</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">10</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
            <div class="column is-8-desktop is-12-mobile order-1">
                <div class="title is-3">Friend with HitTrax Member Day Pass</div>
                <hr>
                <p>If you're an RBI HitTrax Member, feel free to bring a non-member friend to experience and hit with you on HitTrax. It will only cost your friend $10 for a day pass to hit with you.</p>
            </div>
        </div>
    </div>
</section>

<section class="section hittrax-info">
    <div class="container">
        <div class="columns is-mobile">
			<div class="column is-8-desktop is-12-mobile order-1">
                <div class="title is-3">HitTrax Team Rental</div>
                <hr>
                <p>Teams and their coaches are able to rent the HitTrax cage and system for a small group or their entire team for 60-minutes. This rental can be used in a variety of ways - to analyze each player's swings, to compete in the entertainment mode with split-team games, individual home run derbies, the quality hit game, and more team-building exercises. Teams and coaches cannot rent the HitTrax cage and equipment until they have completed a HitTrax System Training to learn how to operate these various modes.</p>
            </div>
            <div class="column is-4-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Per Team</div>
                        <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">65</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-secondary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half is-left">
                    <p class="title">Hitting with HitTrax</p>
                    <p class="subtitle">Get Schedule at RBI!</p>
                </div>
                <div class="column">
                    <p class="subtitle is-5 has-text-centered">Call us at <span class="phone is-primary">423-202-3228</span> to get scheduled!</p>
                </div>
            </div>
        </div>
    </div>
</section>
