<section class="section" id="hittrax-faq">
    <div class="container">

        <h1 class="title is-spaced">HitTrax FAQ</h1>
        <h2 class="subtitle">Frequently asked questions about HitTrax</h2>
        <hr>

        <div class="box">
            <h4 class="title is-4">What is HitTrax?</h4>
            <p>HitTrax is a combination of infrared camera hardware with a fully integrated software program designed to give baseball/softball players instant feedback on their hitting metrics and exit velocities. The software allows players to track their statistics both instantly and over time, gauge trends, and ultimately, train their weaknesses and improve.</p>
        </div>

        <div class="box">
            <h4 class="title is-4">What does HitTrax really do?</h4>
            <p>HitTrax tracks pitch location, point of impact, and exit speed by building a digital rendering of the real world. This digital simulation is then placed into real life, age appropriate fields to give you accurate feedback on ball flight and how a real life defense would react.</p>
        </div>

        <div class="box">
            <h4 class="title is-4">What swing data does it gather?</h4>
            <p>It gauges the incoming speed of the pitch, the location of the pitch in your strike zone, your exit velocity upon contact, your launch angle upon contact, and point of impact. However, using these metrics, the software is able to precisely determine exactly where the ball would go on the field against an age-appropriate defense, which allows it to generate batting average, slugging percentage, distance traveled, hit/out, hit type, hard hit average, extra base hits, line drive percentage, and many, many other relevant statistics.</p>
        </div>

        <div class="box">
            <h4 class="title is-4">How long does it store the data?</h4>
            <p>Forever. Once you've set up your profile, any statistics you generate on the software will be stored in the cloud. Also, each individual session will be stored. You can also make individual notes on each session if you were doing something specific (ie, hitting with wood, working on pitches away, two strike approach, etc.).</p>
        </div>

        <div class="box">
            <h4 class="title is-4">How do I get a copy of my hitting reports?</h4>
            <p>Upon finishing a session, all of the generated data is available for review. Using the intuitive, easy tools built into the software, you can easily generate the reports you wish to see, and easily email them to yourself and anyone else (hitting instructor, college coach, etc.). If you forget, it's no problem. Each individual session is saved, so you can go back later through your profile and re-generate a desired report from any session you choose.</p>
        </div>

        <div class="box">
            <h4 class="title is-4">Can I hit without saving the data to my profile?</h4>
            <p>Yes. This would be done inside of the Entertainment mode on the software. Here, you can take normal BP that's similar to a training session, hit in a Homerun Derby, or even play in a simulated two-inning game with your friends. When in Entertainment mode, none of the generated data will be saved for any user once the session is finished.</p>
        </div>

        <div class="box">
            <h4 class="title is-4">Of all the data it provides, what's the simplest way to track my progress as a hitter?</h4>
            <p>It depends on the type of hitter you are. Everyone should pay attention to trying to increase exit velocity. Everyone should also pay attention to Hard Hit Average (HHA). This metric gauges how often you hit the ball close to your top exit velocity, which roughly translates to how often you barrel the ball up. If you're a hitter who runs well but doesn't necessarily hit for a ton of power, you'd be looking for your launch angles to stay between 8-25 degrees. If you're a power hitter, you'd like to see those numbers go from 8-35 degrees, depending on your age and the size of the field.</p>
        </div>

        <div class="box">
            <h4 class="title is-4">Are there games on HitTrax?</h4>
            <p>Yes. The individual game mode that can be saved to your profile/data is the Quality Hit Game. This is a point-system game that allows the hitter 15 at-bats to do as much damage as you can do. You can compete against your previous high scores and constantly work on improving. All of the other games can be found inside of Entertainment mode. These game include Batting Practice, Home Run Derby, and a simulated two-inning game that plays exactly like a real game, with batting orders and defenses just like real life. There are also real "live" game modes where players can form teams using their actual profiles. These will be done through our Virtual Hitting Leagues - check out our <a href="/vhl-about">About VHL</a> page for more information on these leagues.</p>
        </div>

        <div class="content">
            <p>For more information, check out our <a href="/hittrax">HitTrax</a> page.</p>
        </div>

    </div>
</section>
