<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Memberships</h1>
        <h2 class="subtitle">A plan to suite your every need</h2>
        <hr>

        <div class="columns">
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Facility</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">35</div></div>
                    <div class="pricing-desc">Per Month</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Facility</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">295</div></div>
                    <div class="pricing-desc">Per Year</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Combo Memberships</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">80</div></div>
                    <div class="pricing-desc">RBI + RBIron - Per Month</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Combo Memberships</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">720</div></div>
                    <div class="pricing-desc">RBI + RBIron - Per Year</div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Strength/Agility Classes</div>
                    <div class="pricing-teaser">For Members</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">45</div></div>
                    <div class="pricing-desc">Per Month</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Strength/Agility Classes</div>
                    <div class="pricing-teaser">For Members</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">425</div></div>
                    <div class="pricing-desc">Per Year</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Strength/Agility Classes</div>
                    <div class="pricing-teaser">Non-Members</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">55</div></div>
                    <div class="pricing-desc">Per Month</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Strength/Agility Classes</div>
                    <div class="pricing-teaser">Non-Members</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">495</div></div>
                    <div class="pricing-desc">Per Year</div>
                </div>
            </div>
        </div>

        <div class="content">
            <p>We offer several different membership options at RBI Tri-Cities, depending on what you need. All memberships include unlimited access to the facility, as well as the other benefits listed. Our facility consists of eight batting cages, five pitchers mounds, a live radar gun display, an Iron Mike pitching machine, a dozen batting tees and a band station for arm care. To sign up for your membership, please visit us, call or register online below and start your training today!</p>
        </div>

    </div>
</section>
