<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Memberships</h1>
        <h2 class="subtitle">A plan to suite your every need</h2>
        <hr>

        <div class="columns">
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">RBI Membership</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">35</div></div>
                    <div class="pricing-desc">Per Month</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">RBI Membership</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">295</div></div>
                    <div class="pricing-desc">Per Year</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Combo Membership</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">80</div></div>
                    <div class="pricing-desc">RBI + RBIron - Per Month</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Platinum Membership</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">720</div></div>
                    <div class="pricing-desc">RBI + RBIron - Per Year</div>
                </div>
            </div>
        </div>

        <div class="content">
            <p>RBI Members have unlimited access to all of our cages, tees, mounds and training equipment 7 days a week. RBI Members also receive discounted prices on all lessons and lesson packages, as well as nearly every camp or class throughout the year. To gauge the relative cage or mound availability, be sure to check out our <a href="/cage-schedule">Daily Cage Schedule</a> which updates each day for your convenience.</p>

            <p>Our facility consists of eight batting cages, five pitchers mounds, a live radar gun display, an Iron Mike pitching machine, an Atec Hitting Streak pitching machine, a dozen batting tees, a band station for arm care, workout equipment, weighted balls, and training bats.</p>

            <p>For families with multiple ballplayers, each additional sibling's membership is half-off!</p>
        </div>

    </div>
</section>
