<section class="section" id="our-facility">
    <div class="container">

        <h1 class="title is-spaced">About The Facility</h1>
        <hr>

        <div class="content">
            <p>The RBI Tri-Cities Training Facility boasts over <strong>11,000</strong> square feet of turfed playing surface. The facility is divided into two areas - our Main Facility designed for RBI Members and Private Lessons and our Team Space designed for private team practices. All together, we have 8 full-sized batting cages, 5 pitching mounds, HitTrax Technology, an Iron Mike self-feeding pitching machinge, an ATEC Hitting Streak pitching machine, over a dozen batting tees, baseballs, softballs, one-handed training bats, weighted balls, armcare bands, resistance bands, kettlebells, dumbbells, jump ropes, battle ropes, pull-up bars, plyo boxes and medicine balls.</p>

            <p>RBI Members are encouraged to use as much of our equipment as they like, any time during open hours. For guidance on how to best use any of our machines, training tools or equipment, just ask any of our administrative staff members or professional instructors. We also have a private office equipped with video analysis software, a speaker system for the Main Facility, and a lounge fully equipped with an HD TV, couch and ping-pong table.</p>
        </div>

    </div>
</section>
