<section class="section" id="our-facility">
    <div class="container">

        <h1 class="title is-spaced">About The Facility</h1>
        <hr>

        <div class="content">
            <p>The RBI Tri-Cities Training Facility boasts over 11,000 square feet of turfed playing surface. We have 11 batting cages, 5 pitching mounds, HitTrax, Rapsodo, an Iron Mike self-feeding pitching machinge, a team practice area, over a dozen batting tees, baseballs, softballs, one-handed training bats, weighted balls, armcare bands, resistance bands, kettlebells, dumbbells, jump ropes, battle ropes, pull-up bars, plyo boxes and medicine balls. With our recently renovated team practice area, teams can utilize five cages at once or open the space up for live at-bats. </p>

            <p>RBI Members are encouraged to use as much of our equipment as they like, any time during open hours. For guidance on how to best use any of our machines, training tools or equipment, just ask any of our administrative staff members or professional instructors. We also have a private office equipped with video analysis software, a speaker system for the Main Facility, and a lounge fully equipped with an HD TV, couch and ping-pong table.</p>
        </div>

    </div>
</section>
