<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Private Lessons</h1>
        <h2 class="subtitle">Individually tailored lessons to get your game to the next level</h2>
        <hr>

        <h4 class="title is-4 has-text-centered">Member Pricing</h4>
        <div class="columns">
            <div class="column is-4 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">30 Minutes</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">40</div></div>
                    <div class="pricing-desc">For 1 Lesson</div>
                </div>
                <div class="pricing-attrs">
                    <div class="attr"><i class="fa fa-check"></i><div class="text">5 Lessons for $37/session</div></div>
                    <div class="attr"><i class="fa fa-check"></i><div class="text">10 Lessons for $35/session</div></div>
                </div>
            </div>
            <div class="column is-4 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">45 Minutes</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">50</div></div>
                    <div class="pricing-desc">For 1 Lesson</div>
                </div>
                <div class="pricing-attrs">
                    <div class="attr"><i class="fa fa-check"></i><div class="text">5 Lessons for $47/session</div></div>
                    <div class="attr"><i class="fa fa-check"></i><div class="text">10 Lessons for $45/session</div></div>
                </div>
            </div>
            <div class="column is-4 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">60 Minutes</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">60</div></div>
                    <div class="pricing-desc">For 1 Lesson</div>
                </div>
                <div class="pricing-attrs">
                    <div class="attr"><i class="fa fa-check"></i><div class="text">5 Lessons for $57/session</div></div>
                    <div class="attr"><i class="fa fa-check"></i><div class="text">10 Lessons for $55/session</div></div>
                </div>
            </div>
        </div>

        <h4 class="title is-4 has-text-centered">Non-Member Pricing</h4>
        <div class="columns">
            <div class="column is-4 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">30 Minutes</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">45</div></div>
                    <div class="pricing-desc">For 1 Lesson</div>
                </div>
                <div class="pricing-attrs">
                    <div class="attr"><i class="fa fa-check"></i><div class="text">5 Lessons for $40/session</div></div>
                    <div class="attr"><i class="fa fa-check"></i><div class="text">10 Lessons for $37/session</div></div>
                </div>
            </div>
            <div class="column is-4 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">45 Minutes</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">55</div></div>
                    <div class="pricing-desc">For 1 Lesson</div>
                </div>
                <div class="pricing-attrs">
                    <div class="attr"><i class="fa fa-check"></i><div class="text">5 Lessons for $50/session</div></div>
                    <div class="attr"><i class="fa fa-check"></i><div class="text">10 Lessons for $47/session</div></div>
                </div>
            </div>
            <div class="column is-4 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">60 Minutes</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">65</div></div>
                    <div class="pricing-desc">For 1 Lesson</div>
                </div>
                <div class="pricing-attrs">
                    <div class="attr"><i class="fa fa-check"></i><div class="text">5 Lessons for $60/session</div></div>
                    <div class="attr"><i class="fa fa-check"></i><div class="text">10 Lessons for $57/session</div></div>
                </div>
            </div>
        </div>

        <div class="content">
            <p>Private lessons are available to both members and non-members. Our professional instructors have given thousands of lessons. Because of this, they're well versed in the drills and instruction necessary to help players improve rapidly. They all come from incredibly athletic backgrounds, so they know what adjustments will help each individual player quickly.</p>

            <p>This being said, we expect all of the players who do lessons with us to show up with a coachable attitude and a willingness to try new things. Drills and new positions won't necessarily be comfortable or feel right, but that's completely normal. More importantly (we can't stress this enough), practicing once a week with an instructor is not enough for a player to improve. If players really want to maximize their training sessions, they need to practice as much as they possibly can (preferably every day). That's what it takes.</p>
        </div>

    </div>
</section>
