<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Private Instruction</h1>
        <hr>

		<h4 class="title is-4 has-text-centered">30 Minutes</h4>
        <div class="columns">
            <div class="column is-6 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Member Pricing</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">40</div></div>
                    <div class="pricing-desc">For 1 Lesson</div>
                </div>
                <div class="pricing-attrs">
                    <div class="attr"><i class="fa fa-check"></i><div class="text">5-Pack for $180</div></div>
                </div>
            </div>
            <div class="column is-6 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Non-Member Pricing</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">45</div></div>
                    <div class="pricing-desc">For 1 Lesson</div>
                </div>
                <div class="pricing-attrs">
                    <div class="attr"><i class="fa fa-check"></i><div class="text">5-Pack for $205</div></div>
                </div>
            </div>
        </div>

        <h4 class="title is-4 has-text-centered">60 Minutes</h4>
        <div class="columns">
            <div class="column is-6 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Member Pricing</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">60</div></div>
                    <div class="pricing-desc">For 1 Lesson</div>
                </div>
                <div class="pricing-attrs">
                    <div class="attr"><i class="fa fa-check"></i><div class="text">5-Pack for $280</div></div>
                </div>
            </div>
            <div class="column is-6 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Non-Member Pricing</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">65</div></div>
                    <div class="pricing-desc">For 1 Lesson</div>
                </div>
                <div class="pricing-attrs">
                    <div class="attr"><i class="fa fa-check"></i><div class="text">5-Pack for $305</div></div>
                </div>
            </div>
        </div>

    </div>
</section>

{{> private-instruction-form }}

<section class="section">
    <div class="container">

        <div class="content">

            <p>Our professional instructors have played with and seen the best of the best in baseball and softball. We've also given thousands of lessons to players of all ages. Because of this, we know how it's supposed to be done and we're well versed in the drills and instruction necessary to help players improve quickly.</p>

            <p>Each player is different; they all have different strenghts and weaknesses, different natural tendencies, and different goals. We know this and simply don't believe in a one-size-fits-all approach to hitting or pitching. Instead, we strive to communicate with each player and parent, watch how players react to different techniques and drills, listen, and improvise as we go to best help each player develop and reach their goals.</p>

            <p>We expect all of the players who do lessons with us to show up with a coachable attitude, a desire to play and have fun, and a willingness to get better. Drills and new positions won't necessarily be comfortable or feel right, but that's completely normal. Baseball/softball is hard!</p>

            <p>Each player that does lessons will be encouraged by their instructor to practice outside of the private lesson arena, be given "homework," and pushed to take their game/improvement onto their own shoulders. Our instructors strive to be role models for every player they teach. Outside of the cage, we hope to make a positive impact on every player's life we are able to touch.</p>

        </div>

    </div>
</div>
