<section class="section rapsodo-info">
    <div class="container">

		<h1 class="title is-spaced">Rapsodo</h1>
        <hr>

        <div class="columns">
            <div class="column is-half">
                <p>The Rapsodo Pitching module is the latest and greatest in pitching analytics. Rapsodo Pitching is currently used by collegiate and professional baseball and softball programs across the country. With Rapsodo, players receive real-time metrics after every single pitch. These metrics will help players better understand how they release the ball and what adjustments will most help their effectiveness against a hitter. </p>
            </div>
            <div class="column is-half">
                <img src="/images/rapsodo-view.png"/>
            </div>
        </div>
    </div>
</section>

<section class="section rapsodo-info desc">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <i class="fa fa-tablet fa-4x" aria-hidden="true"></i>
                <p>The Rapsodo iPad will display each pitch's velocity and spin metrics in real time. This allows pitchers to understand how their adjustments affect the spin, velocity, and flight of the ball from pitch-to-pitch. </p>
            </div>
            <div class="column is-4">
                <i class="fa fa-bar-chart fa-4x" aria-hidden="true"></i>
                <p class="margin-bottom">Metrics recorded for each pitch include:</p>
                <ul>
                    <li><strong>Velocity, Spin Axis</strong></li>
                    <li><strong>Total Spin, True Spin</strong></li>
                    <li><strong>Spin Efficiency</strong></li>
                    <li><strong>Horizontal Break</strong></li>
                    <li><strong>Vertical Break</strong></li>
                    <li><strong>...and more!</strong></li>
                <ul>
            </div>
            <div class="column is-4">
                <i class="fa fa-area-chart fa-4x" aria-hidden="true"></i>
                <p>Rapsodo brings professional pitching analytics to RBI Tri-Cities, allowing players to receive visual and statistical feedback with each pitch as they improve and continue to make adjustments.</p>
            </div>
        </div>
    </div>
</section>

<section class="section rapsodo-info">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-8-desktop is-12-mobile order-1">
                <div class="title is-3">Rapsodo Private Lesson Upgrade</div>
                <hr>
                <p>Private pitching lessons at RBI can be done with Rapsodo to provide analytics throughout the lesson. Each pitch's velocity, total spin, spin efficiency, spin axis, horizontal break and vertical break are measured and available for review. These metrics help players focus on their strengths and weaknesses, making calculated improvements to both primary and secondary pitches.</p>
            </div>
            <div class="column is-4-desktop is-12-mobile order-2">
                <div class="pricing-component">
                    <div class="pricing-header">
                        <div class="pricing-title">Per Session</div>
                        <div class="pricing-cost"><div class="cost">FREE</div></div>
                        <div class="pricing-desc"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-secondary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half is-left">
                    <p class="title">Pitching with Rapsodo</p>
                    <p class="subtitle">Get Scheduled at RBI!</p>
                </div>
                <div class="column">
                    <p class="subtitle is-5 has-text-centered">Call us at <span class="phone is-primary">423-202-3228</span> to get scheduled!</p>
                </div>
            </div>
        </div>
    </div>
</section>
