<section class="section" id="rbi-teams">
    <div class="container">

        <h1 class="title is-spaced">RBI Tri-Cities Teams</h1>
        <hr>

        <div class="columns">
            <div class="column is-9">
                <div class="content">
                    <p>RBI Tri-Cities travel baseball teams are designed with three things in mind:</p>

                    <p><strong>1.</strong> To train, coach & develop baseball players on the field</p>
                    <p><strong>2.</strong> To develop young men on and off the field</p>
                    <p><strong>3.</strong> To help high school players get opportunities to play collegiately</p>

                    <p>All RBI teams have the benefit of practicing year-round as a team in the RBI Team Practice Space. Also, all players on RBI teams are RBI-Members. They are all welcome to come workout at the facility 7 days a week, receive discounted lessons, camps & classes for any events they attend.</p>

                    <p>We have great coaches for all of our teams. Our younger teams are focused on development both on and off the field and having fun! Baseball shouldn't be serious in the early years. We will compete, but we'll have fun doing it and we will play the game the right way.</p>

                    <p>Our older teams are focused on exposure opportunities. We have a broad network in the baseball community of high school, college and professional contacts. Our older teams participate in tournaments and events that attract college recruiters. Although we're focused on exposure opportunities with these teams, player development is not over. Our prospect team coaches work out with our teams on a regular basis to help their continued development on the field. The better our teams are, the more college recruiters we will attract to our games.</p>

                    <p>If you're interested in playing on an RBI team, stay tuned to our Upcoming Events page and our Social Media pages for posts on tryouts each year in July. Typically, teams hold tryouts the last couple of weeks in July or first couple of weeks in August.</p>
                </div>
            </div>
            <div class="column">
                <figure class="image">
                    <img src="/images/rbi-u-baseball.png" alt="RBI-U Baseball">
                </figure>
            </div>
        </div>

    </div>
</section>
