<section class="section" id="rbi-pride-teams">
    <div class="container">

        <h1 class="title is-spaced">RBI Pride Teams</h1>
        <hr>

        <div class="columns">
            <div class="column is-9">
                <div class="content">
                    <p>RBI Pride Teams represent the RBI Tri-Cities Fastpitch Teams. These teams are designed with three things in mind:</p>

                    <p><strong>1.</strong> To train, coach & develop softball players on the field</p>
                    <p><strong>2.</strong> To develop young women on and off the field</p>
                    <p><strong>3.</strong> To help high school players get opportunities to play collegiately</p>

                    <p>For more information on them, check out RBI Pride Softball on <a href="https://www.facebook.com/groups/1774503352564766/">Facebook</a> or click here to view the RBI Pride team website.</p>
                </div>
            </div>
            <div class="column">
                <figure class="image">
                    <img src="/images/rbi-u-softball.png" alt="RBI-U Softball">
                </figure>
            </div>
        </div>

    </div>
</section>
