<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Recruiting Videos</h1>
        <h2 class="subtitle">Get an offer from the school of your dreams</h2>
        <hr>

        <div class="content">
            <p>RBI Tri-Cities has decided to take an active role in helping create video content for our players to use to promote themselves to college recruiters. We have partnered up with professional filmographers to create these high quality videos. Each video will be posted to RBI's Instagram and Youtube Channel and each player will receive a link they can use to send to the schools of their choice.</p>
            <p>At each video shoot, we recommend players wear gear from their summer travel teams or high school programs and come ready to roll. RBI's staff will direct the action and make sure to get quality reps offensively, defensively, running, and on the mound. After the shoot is complete, we work with our professional filmographers to pick and choose which swings, throws and defensive plays look most attractive on camera to the recruiters eye.</p>
            <p>Our goal is to narrow the action down to a 2-3 minute video that shows you at your best. These videos are recommended for players in 9th-12 grades.</p>
        </div>

    </div>
</section>

<section class="section recruiting-video">
    <div class="container">
        <div class="title has-text-centered">Featured Recruiting Video</div>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="youtube-player" data-id="0GIlPTagNyE"></div>
            </div>
        </div>
    </div>
</section>
