<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Recruiting Videos</h1>
        <h2 class="subtitle">Get an offer from the school of your dreams</h2>
        <hr>

        <div class="content">
            <p>We're offering prospects the opportunity to create recruiting videos. Players who sign up will be taken through a workout by RBI staff that recruiters expect to see from potential prospects in both baseball and softball. They'll be filmed through the drills from the optimal camera angles to maximize a coach's ability to make quality evaluations from their computer or mobile screen. Once finished, the videos will be posted to our Youtube channel and Instagram, along with the player's full profile. Copies will be given to the player and his/her family to use at their own discretion.</p>
        </div>

    </div>
</section>

<section class="section recruiting-video">
    <div class="container">
        <div class="title has-text-centered">Featured Recruiting Video</div>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="youtube-player" data-id="0GIlPTagNyE"></div>
            </div>
        </div>
    </div>
</section>
