<section class="section" id="shop">
    <div class="container">

        <h1 class="title is-spaced">Equipment Shop</h1>
        <hr>

        <div class="content">
            <p>Through RBI Tri-Cities, all of our customers are able to receive discounted prices on equipment from Wilson, DeMarini & Louisville Slugger. This includes all of the latest gloves from Wilson and bats from both DeMarini and Louisville Slugger. To view our Equipment Shop, click the link below:</p>

            <a class="button is-primary is-medium margin-bottom" href="https://rbitricities.itemorder.com/" target="_blank">
                <span class="icon is-medium">
                  <i class="fa fa-shopping-cart"></i>
              </span><span>Equipment Shop</span>
            </a>

            <p>If you don't know the Sale Code to get in, just give us a call or send us an email!</p>
        </div>

    </div>
</section>
