<section class="section" id="shop">
    <div class="container">

        <h1 class="title is-spaced">Equipment Shop</h1>
        <!---->
        <hr>

        <p>This page is under construction!</p>

    </div>
</section>
