<section class="section" id="showcases">
    <div class="container">

        <h1 class="title">Showcases</h1>
        <hr>

        <div class="content">
            <p>Below are the descriptions for our annual baseball and softball RBI-U College Instructional Showcases. Through RBI-U, we have partnered with various regional schools of all levels to help promote our players that aspire to play at the next level. We bring coaches in from these schools each year for the events. RBI-U provides a uniquely personal experience, allowing players to meet coaches faces-to-face, learn, showcase, and hear about each program.</p>

            <p>When we schedule camps in the current year, you can find them on our Upcoming Events page and on Social Media. Check the <a href="/events">Upcoming Events</a> page for details on this year's events and to reserve your spot.</p>
        </div>

        <div class="card camp">
            <div class="card-header">
                <div class="card-header-title">RBI-U: College Instructional Showcase</div>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image">
                            <img src="/images/rbi-u-softball.png" alt="RBI-U Softball">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="meta">November</div>
                        <div class="meta">Baseball Players Grades 5th-12th</div>
                    </div>
                </div>
                <div class="content">
                    <p>This showcase is a one-day event held at RBI every year since 2016. College coaches from various D1, D2, D3, JuCo and NAIA schools come from all over our region to work with and evaluate the players in attendance. Schools that have attended include ETSU, Radford, Wofford, Appalachian State, Presbyterian, Carson-Newman, Tusculum, Walters State & Milligan. One session is offered to players in grades 5th-8th with another offered to high school players in grades 9th-12th. Several players that have attended RBI-U have since signed college scholarships. RBI-U provides a uniquely personal showcase experience, giving players the opportunity to meet face-to-face with, learn from, and showcase their abilities for the college coaches in attendance. Every player in attendance is provided with an RBI-U jersey to wear for identification.</p>
                </div>
            </div>
        </div>

        <div class="card camp">
            <div class="card-header">
                <div class="card-header-title">RBI-U Softball: College Instructional Showcase</div>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image">
                            <img src="/images/rbi-u-softball.png" alt="RBI-U Softball">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="meta">November</div>
                        <div class="meta">Softball Players Grades 8th-12th</div>
                    </div>
                </div>
                <div class="content">
                    <p>This showcase is a one-day event held at RBI every year since 2017. College coaches from various D1, D2, D3, JuCo and NAIA schools come from all over our region to work with and evaluate the players in attendance. Schools that have attended include Radford, Tusculum, Walters State, Roane State, Lincoln Memorial & Maryville College. We offer two sessions - one for hitter/defenders and one for pitchers. RBI-U provides a uniquely personal showcase experience, giving players the opportunity to meet face-to-face with, learn from, and showcase their abilities for the college coaches in attendance. Every player in attendance is provided with an RBI-U jersey to wear for identification.</p>
                </div>
            </div>
        </article>

    </div>
</section>
