<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Strength & Agility</h1>
        <h2 class="subtitle">Strength, Speed and Agility training for Baseball and Softball players 11 and up</h2>
        <hr>

        <div class="columns">
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Per Class</div>
                    <div class="pricing-teaser">For Members</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">15</div></div>
                    <div class="pricing-desc">for one class</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Per Class</div>
                    <div class="pricing-teaser">Non-Members</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">20</div></div>
                    <div class="pricing-desc">for one class</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Class Memberships</div>
                    <div class="pricing-teaser">For Members</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">45</div></div>
                    <div class="pricing-desc">for 3-4 classes per month</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Class Memberships</div>
                    <div class="pricing-teaser">Non-Members</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">55</div></div>
                    <div class="pricing-desc">for 3-4 classes per month</div>
                </div>
            </div>
        </div>

        <!-- //WILL PROBABLY NEED THESE LATER
        <div class="columns">
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Combo Memberships</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">720</div></div>
                    <div class="pricing-desc">RBI + RBIron - Per Year</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Strength/Agility Classes</div>
                    <div class="pricing-teaser">For Members</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">45</div></div>
                    <div class="pricing-desc">Per Month</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Strength/Agility Classes</div>
                    <div class="pricing-teaser">For Members</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">425</div></div>
                    <div class="pricing-desc">Per Year</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Strength/Agility Classes</div>
                    <div class="pricing-teaser">Non-Members</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">55</div></div>
                    <div class="pricing-desc">Per Month</div>
                </div>
            </div>
            <div class="column is-3 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Strength/Agility Classes</div>
                    <div class="pricing-teaser">Non-Members</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">495</div></div>
                    <div class="pricing-desc">Per Year</div>
                </div>
            </div>
        </div>-->

        <div class="content">
            <p>RBIRON is a sport-specific strength, speed, agility and conditioning program designed specifically for our youth baseball and softball players. Focus will be on core strength, leg strength, explosiveness, flexibility, footspeed, agility and stamina. Players should also bring their bats as we will also incorporate some batting practice into each workout class. Periodic testing will also be done so that players have a tangible measure of their current performance and progress. Classes are open to all baseball and softball players ages 11-15.</p>

            <p>We will hold class times at 7pm each Tuesday and Thursday. We will tweak the programming and workouts throughout the year to fit in with the spring/summer baseball and softball season, designed for growth in the offseason and maintenance midseason.</p>

            <p>Players can pay on a Per Class basis, or by having an active RBIRON Membership, whichever they prefer. With an RBIRON Membership, athletes can attend as many classes as they want each month. We will tweak the programming and workouts throughout the year to fit in with the spring/summer baseball and softball season, designed for growth in the offseason and maintenance midseason.</p>

            <p>Please sign-in online or with our staff up front before each class you plan on attending.</p>
        </div>

    </div>
</section>
