<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Swing Analytics</h1>
        
        <hr>

        <p>This page is currently under construction!</p>

    </div>
</section>
