<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Team Practices</h1>
        <h2 class="subtitle">Specifically designed spaces for team practices</h2>
        <hr>

        <div class="content">
            <p>As of January 2016, we are thrilled to offer a new private practice space consisting of two fully retractable batting cages, two pitchers mounds, and several batting tees. We designed this space specifically for team practices, providing the versatility to hit, throw bullpens, and push the cages back to work on defense, throwing and agility.</p>

            <p>Teams with practice packages are given the opportunity to practice at our facility year-round while receiving coaching tips and instruction from our highly experienced staff. We also offer pay-as-you-go practice options when scheduling permits. However, teams with practice packages get first choice at scheduling. If interested in practicing at RBI, fill out the following form, and we’ll be in touch.</p>
        </div>

    </div>
</section>
