<section class="section" id="about">
    <div class="container">

        <h1 class="title is-spaced">Team Practices</h1>
        <h2 class="subtitle">RBI's Private Practice Space for Team Rentals</h2>
        <hr>

        <div class="content">

            <p>Team Practices are held in a completely separate area from the day-to-day action of RBI Members and Private Lessons. Our Team Room is a separately attached unit around the back of our facility. It consists of two fully retractable batting cages, two pitchers mounds, and several batting tees. We designed this space specifically for team practices, providing the versatility to hit, throw bullpens, and push the cages back to work on defense, throwing and agility. There is also plenty of outdoor space used by our teams for additional throwing space, outfielders work and team conditioning.</p>

            <p>The RBI Team Space is available for practice packages and single-use rentals. Teams with practice packages are given pre-reserved 90-minute practice times each week throughout the off-season, pre-season & season. For single-use rentals, we offer pay-as-you-go practice options at $50/hour for 1-hour, 1.5-hour or 2-hour slots as scheduling permits. To schedule a practice for your team, simply call us at <span class="phone is-primary">423-202-3228</span>. Please be prepared to make payment over the phone to reserve your team's practice slot. If something comes up and your team needs to re-schedule, we will credit your prepayment back to your Team's Profile for a later use.</p>

        </div>

        <div class="columns is-centered">
            <div class="column is-4 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Team Practice Rentals</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">50/Hour</div></div>
                    <div class="pricing-desc">1 Hour, 1.5 Hours, 2 Hour Slots Available</div>
                </div>
            </div>
			<div class="column is-4 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Team HitTrax Cage Rentals</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">65</div></div>
					<div class="pricing-desc">Per Hour</div>
                </div>
            </div>
			<div class="column is-4 pricing-component">
                <div class="pricing-header">
                    <div class="pricing-title">Team Lessons</div>
                    <div class="pricing-cost"><i class="fa fa-usd"></i><div class="cost">65</div></div>
					<div class="pricing-desc">Per Hour</div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="hero is-secondary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-half is-left">
                    <p class="title">Team Practices</p>
                    <p class="subtitle">Reserve a spot for your team!</p>
                </div>
                <div class="column">
                    <p class="subtitle is-5 has-text-centered">Call us at <span class="phone is-primary">423-202-3228</span> to get scheduled!</p>
                </div>
            </div>
        </div>
    </div>
</section>
