<section class="section" id="vhl-about">
    <div class="container">

        <div class="vhl-logo">
            <h1 class="title">About</h1>
            <img class="logo" src="/images/vhl-logo.png" alt="Virtual Hitting Leagues"/>
        </div>
        <hr>

        <div class="content">
            <p>Virtual Hitting Leagues are the most fun and exciting baseball practice games to come to the Tri-Cities. Players will have the opportunity to form their own mini-teams, consisting of 3-5 players, who will join their rosters. Teams will choose their batting order and play head-to-head in a batting practice game utilizing HitTrax technology. These teams will compete against other teams at the same age/skill level in the MLB stadium of their choosing. Of course, these MLB stadiums and defenses are scaled to the team's age/skill level.</p>

            <p class="title is-5">League Format<p>
            <p>Each league will meet once a week for five weeks. The Regular Season for each league will consist of Weeks 1-4. During the Regular Season, teams will play two 6-inning games against different opponents each night. Week 5 will be individual competitions and Playoff week. First, the top sluggers in the league will compete in a Home Run Derby. Hitters that do not participate in the Home Run Derby will then participate in a Hitting Contest. Once the Individual Champions are awarded, the teams will compete in a single-elimination Playoff bracket, seeded by Regular Season standings. By the end of Week 5, the League Champions will be crowned.</p>

            <p class="title is-5">League Awards<p>
            <ul>
                <li>Team Champions</li>
                <li>Individual Batting Title</li>
                <li>Home Run Derby Champion</li>
                <li>Hitting Contest Champion</li>
            </ul>

            <p class="title is-5">Upcoming Leagues</p>
            <p>Please see the <a href="/events">Upcoming Events</a> page for upcoming Leagues or the <a href="/vhl-schedules">VHL Schedules</a> page for your current League's Schedule.</p>
        </div>

    </div>
</section>
