<section class="section" id="vhl-schedules">
    <div class="container">

        <h1 class="title is-spaced">VHL Schedules</h1>
        <hr>

        <div class="content">
            <p>Each league will run for five weeks. Weeks 1-4 will makeup the Regular Season in which teams will each play two 6-inning games against different opponents. Week 5 will be for the indidual Home Run Derby, Hitting Contest, and Team Playoffs. Please see the <a href="/vhl-about">About VHL</a> page for more information. To register for an upcoming League, either click through below or check out our <a href="/events">Upcoming Events</a> page.</p>
        </div>

    </div>
</section>
