<section class="section" id="vhl-standings-stats">
    <div class="container">

        <div class="vhl-logo">
            <h1 class="title">Standings & Stats</h1>
            <img class="logo" src="/images/vhl-logo.png" alt="Virtual Hitting Leagues"/>
        </div>
        <hr>

        <div class="columns is-multiline">
            {{#each leagueData }}
                <div class="column is-half">
                    <div class="card vhl-league">
                        <header class="card-header">
                            <p class="card-header-title">{{ name }}</p>
                        </header>
                        <div class="card-content">
                            <div class="date">
                                <span class="icon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                {{ date }}
                            </div>
                        </div>
                        <footer class="card-footer">
                        {{#if link}}
                            <a href="{{link}}" class="card-footer-item" target="_blank">Standings & Stats</a>
                        {{else}}
                            <div class="card-footer-item">Standings & Stats Coming Soon</div>
                        {{/if}}
                        </footer>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>
</section>
